@font-face {
    font-family: 'gunny_rewrittenregular';
    src: url('../fonts/gnyrwn971-webfont.eot');
    src: url('../fonts/gnyrwn971-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gnyrwn971-webfont.woff2') format('woff2'),
         url('../fonts/gnyrwn971-webfont.woff') format('woff'),
         url('../fonts/gnyrwn971-webfont.ttf') format('truetype'),
         url('../fonts/gnyrwn971-webfont.svg#gunny_rewrittenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SanFranciscoDisplay-Regular';
    src: url('../fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SanFranciscoDisplay-Regular.woff') format('woff'),
         url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplay-Regular.svg#SanFranciscoDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SanFranciscoDisplay-Bold';
    src: url('../fonts/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SanFranciscoDisplay-Bold.woff2') format('woff'),
         url('../fonts/SanFranciscoDisplay-Bold.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplay-Bold.svg#SanFranciscoDisplay-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SanFranciscoDisplay-Ultralight';
  src: url('../fonts/SanFranciscoDisplay-Ultralight.eot') format('embedded-opentype'),
   url('../fonts/SanFranciscoDisplay-Ultralight.woff') format('woff'),
         url('../fonts/SanFranciscoDisplay-Ultralight.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplay-Ultralight.svg#SanFranciscoDisplay-Ultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SanFranciscoDisplay-Semibold';
  src: url('../fonts/SanFranciscoDisplay-Semibold.eot') format('embedded-opentype'),
   url('../fonts/SanFranciscoDisplay-Semibold.woff') format('woff'),
         url('../fonts/SanFranciscoDisplay-Semibold.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplay-Semibold.svg#SanFranciscoDisplay-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SanFranciscoDisplay-Light';
  src: url('../fonts/SanFranciscoDisplay-Light.eot') format('embedded-opentype'),
   url('../fonts/SanFranciscoDisplay-Light.woff') format('woff'),
         url('../fonts/SanFranciscoDisplay-Light.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplay-Light.svg#SanFranciscoDisplay-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SanFranciscoDisplay-Medium';
  src: url('../fonts/SanFranciscoDisplay-Medium.eot') format('embedded-opentype'),
   url('../fonts/SanFranciscoDisplay-Medium.woff') format('woff'),
         url('../fonts/SanFranciscoDisplay-Medium.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplay-Medium.svg#SanFranciscoDisplay-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SanFranciscoDisplay-Black';
  src: url('../fonts/SanFranciscoDisplay-Black.eot') format('embedded-opentype'),
   url('../fonts/SanFranciscoDisplay-Black.woff') format('woff'),
         url('../fonts/SanFranciscoDisplay-Black.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplay-Black.svg#SanFranciscoDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SanFranciscoDisplay-Heavy';
  src: url('../fonts/SanFranciscoDisplay-Heavy.eot') format('embedded-opentype'),
   url('../fonts/SanFranciscoDisplay-Heavy.woff') format('woff'),
         url('../fonts/SanFranciscoDisplay-Heavy.ttf') format('truetype'),
         url('../fonts/SanFranciscoDisplay-Heavy.svg#SanFranciscoDisplay-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

a{
	text-decoration: none !important;
	outline: none !important;
}

/**
 * Header class starts here.
 */

.nav-header .navbar-inverse{
    background-color: #1c2165;
    border-color: #1c2165;
}
.nav-header .navbar-inverse .navbar-nav > .active > a,.nav-header  .navbar-inverse .navbar-nav > .active > a:hover,.nav-header  .navbar-inverse .navbar-nav > .active > a:focus{
  background-color: #fff;
  color: #1c2165;
}
/**
 * Header class end here.
 */


.gapper{
	height:28px;
}

.header-margin {
  margin-top: 51px;
}


/**
 * Home slider class stars here.
 */
.home-slider{
	padding: 0;
}
.home-slider .bx-wrapper .bx-viewport {
    border: 0 solid #ffffff;
    box-shadow: none;
    left: 0;
    transform: translateZ(0px);
}
.home-slider .bx-wrapper img {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.home-slider .bx-pager{
  display:none;
}
.home-slider .bx-wrapper .bx-prev{
	background:url("../images/prev-arw.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
	height: 35px;
    width: 19px;
}
.home-slider .bx-wrapper .bx-next{
	background:url("../images/next-arw.png");
	background-repeat:no-repeat;
	height: 35px;
    width: 19px;
	background-size:100% 100%;
}
.home-slider .bx-wrapper .bx-next:hover{
	background-position:unset;
}


.left-border {
    border-bottom: 1px solid;
    border-top: 1px solid;
    height: 8px;
    margin-top: 30px;
}
.right-border {
    border-bottom: 1px solid;
    border-top: 1px solid;
    height: 8px;
    margin-top: 30px;
}

/**
 * Home slider class end here.
 */



.advertisement {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    width: 100%;
}
.advertisement > .container{
	height: 50px;
  display: table;
}
.advertisement p {
  color: #fff;
  display: table-cell;
  font-size: 16px;
  vertical-align: middle;
}

/**
 * Construction class starts here.
 */
.consturction {
  width: 100%;
}
.consturction .consturction-text {
  display: block;
  margin-top:180px;
}

.consturction-text p {
  text-align: center;
  font-size: -webkit-xxx-large;
  font-family: inherit;
  color: blue;

}

/**
 * Construction class ends here.
 */


/**
 * footer class start here.
 */

.footer-section{
  background:rgba(0,0,0,0.4);
  margin-top: 0px;
    padding: 23px 0;
}
.footer-section h3 {
    color: #fff;
    position: relative;
}

.footer-section h3:before {
    background: #000 none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 50px;
}
.footer-section p {
  text-align:justify;
}

.bottom-blog{
	background:#1c2165;
	width:100%;
}
.bottom-blog p{
	padding: 16px 0 5px 10px;
	color:#fff;
}

/**
 * footer class end here.
 */

/**
 * Login class starts here.
 */

.login-form{
	background:url('../images/blog-signup2.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:100%;
	height:100%;
	position:relative;
}
.login-form .form-group {
    max-width: 100%;
    width: 100%;
	margin-left:0;
	margin-bottom:5px;
}
.form-blog {
    display: table;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
    width: 330px;
}
.form-blog p {
    color: #fff;
    font-size: 28px;
}
.form-blog input {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    height: 37px;
	border-color:#fff;
}
.form-blog .form-control::-moz-placeholder{
	color:#fff !important;
}
.form-blog .help-block{
	font-size:15px;
}
.login-form .form-group button {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    color:#fff !important;
    font-size: 16px;
    padding: 4px 20px;
    width: 100%!important;
	border-color:#fff;
}
.login-form .checkbox #loginform-rememberme{
	height:10px;
}
.checkbox label{
	color: #fff;	
}
.forgot-psd {
    color: #fff;
}
.forgot-psd  a{
    color: #f00;
}

/**
 * Login class end here.
 */



/**
 * Signup form starts here.
 */

.signup-form .form-blog input {
    padding-left:35px;
}

#signupform-gender label input {
    margin-top: -16px;
}
.signup-form  .form-blog p{
  font-size:20px;
}
.signup-form .select-gender label {
    color: #fff;
    font-size: 16px;
    line-height: 0;
}
.signup-form .form-group {
    position: relative;
}
.signup-form .form-group i {
    color: #999;
    font-size: 22px;
    left: 8px;
    position: absolute;
    top: 7px;
}

.signup-form .form-blog{
	width:370px;
}
.signup-first-name{
	width:48%;
	float:left;
}
.signup-last-name{
	width:48%;
	float:right;
}
.signup-form .form-blog select {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    height: 36px;
}

/**
 * Signup form ends here.
 */



/**
 * Start Contact form
 */
.contact {
  background:#31708f;
  margin-top: 0px;
}

.welcome.contact-not-guest {
  background:#31708f;
}
.welcome.contact-not-guest p {
  color: white;
}

.welcome.contact-guest {
  background: white;
}

.contact h3 {
  text-align: center;
  color: #fff;  
  margin:45px 0 27px;
}

.contact-form input{
  width:100%;
}

.contact-form .form-group button {
  width: 170px;
  text-align: center;
  margin:0 auto;
  display:table;
}
.g-recaptcha > div {
    margin: 0 auto;
}
.route-map {
    border: 5px solid #fff;
    border-radius: 4px;
    padding: 9px 31px;
}
.route-map img {
    margin: 0 auto;
}
.footer-top-border {
    height: 6px;
}

/**
 * End Contact form
 */

/**
 * Courses Class Starts Here
 */

.courses {
  margin-top: 0px;
}

.courses .course-item .course-hover {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

.course-hover button {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 15px;
    left: 50%;
    line-height: 20px;
    opacity: 0;
    overflow: hidden;
    padding: 8px 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    z-index: 3;
}

.course-hover:hover > button {
    opacity: 1;
    transform: translate(-50%, -50%);
}


/**
 * Courses class end here
 */


/**
 * Bathces Starts here.
 */

.batches {
  margin-top: 0px;
}

.batches .block-item img{
    height: 100% !important;
    max-height: 235px !important;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
}


/**
 * Bathces End here.
 */


/**
 * Common block classes starts here.
 */

.block-item {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.block-item .block-hover {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.block-item img{
    height: 100% !important;
    max-height: 235px !important;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
}

.block-hover .hover-bg {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.block-item .batch-hover:hover .hover-bg {
  opacity: 0.6;
}
.block-hover .hover-bg {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 1;
}
.bg-color-2 {
    background-color: #03462e;
}
.block-hover a {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 15px;
    left: 50%;
    line-height: 20px;
    opacity: 0;
    overflow: hidden;
    padding: 8px 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    z-index: 3;
}

.block-hover button {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 15px;
    left: 50%;
    line-height: 20px;
    opacity: 0;
    overflow: hidden;
    padding: 8px 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    z-index: 3;
}
.widget-popular .block-name, .block-item .block-name {
    background-color: rgb(51, 51, 51);
    display: block;
    padding: 10px;
}
.widget-popular img, .block-item img {
    height: 100% !important;
    max-height: 200px !important;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
}
.block-item .block-hover:hover img {
    transform: scale(1.1);
    transition: all 4s ease 0s;
}
.block-hover:hover > a {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.block-hover:hover > button {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.widget-popular .block-name .price, .block-item .block-name .price {
    color: rgb(255, 255, 255);
    display: table;
    float: none;
    margin: 0 auto;
}
.price {
    display: inline-block;
    text-align: center;
}
.price {
    font-size: 18px;
}

/**
 * Common block Classes end here.
 */


/**
 * User Class starts here.
 */


.user{
  margin-top: 0px
}

/**
 * User class end here.
 */


.welcome{
  margin-top: 51px;
}

.welcome p {
  float: right;
  margin-right: 30px;
  margin-top: 15px;
  font-family: inherit;
  color: green;
}


/**
 * Outer Class starts here.
 */

.outer-heading {
  text-align: center;
  color: darkblue;
}

.outer-left-border {
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 8px;
  margin-top: 30px;
  color: blue;
}

.outer-right-border {
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 8px;
  margin-top: 30px;
  color: blue;
}

/**
 * Outer Class end here.
 */




/**
 * Inner page class starts here.
 */

.inner-left-border {
  margin-top: 15px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 8px;
}

.inner-right-border {
  margin-top: 15px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 8px;
}

.inner-heading h3 {
  text-align: center;
  margin-top: 5px;
}

/**
 * Inner page class end here.
 */


/**
 * POP UP class starts here.
 */

.popup-block .modal-dialog.modal-sm{
    margin: 51px auto;
    width:500px;
}

.popup-block .modal-body p {
  text-align: justify;
}

.popup-block .modal-title {
  text-align: center;
}

.popup-block .download-button {
    text-align: center;
    margin-bottom: 15px;
}

/**
 * POP UP class end here.
 */


.top-margin {
  margin-top: 51px;
}

/**
 * Courses class starts here.
 */

.course-tabs ul li {
  width: 100%;
  margin-top: 20px;
}

.course-tabs ul li .tab-details {
  display: none;
  margin-left:  10px;
  
}

.course-tabs ul li a {
  position: relative;
  cursor: default;
  display: block;
  padding: 15px;
  border: 1px solid #ddd;
  color: blue;
}

.course-tabs ul li a span {
  float: right;
  color: green;
}
.course-tabs .tab-details p {
  margin-top: 15px;
  text-align: justify;
  font-family: sans-serif;
}


.course-list {
  background-color: ghostwhite;
}
.course-list .course-description img {
  margin: 0px auto;
}


/**
 * Courses class ends here.
 */

/**
 * Study Material class starts here.
 */
.study-material-list {
  background-color: rgb(227,237,228);
}


.study-material-list img{
  margin:0px auto;
  
}

.study-material-tabs li{
  width: 100%;
  margin-top: 20px;
  color: white;
}

.study-material-tabs ul li .tab-details {
  display: none;
  margin-left:  10px;

}

.study-material-tabs ul li a {
  position: relative;
  cursor: default;
  display: block;
  padding: 15px;
  border: 1px solid #ddd;
  color: blue;
}

.study-material-tabs ul li a span {
  float: right;
  color: green;
}


.study-material-tabs .tab-details p {
  margin-top: 15px;
  text-align: justify;
  font-family: sans-serif;
  color: black;
}

/**
 * Study Material class ends here.
 */

/**
 * Problem Solving class starts here.
 */
.problem-solving-class img{
  margin:0px auto;
  height: 290px;
}




.problem-solving-class-tabs li{
  width: 100%;
  margin-top: 20px;
  color: white;
}

.problem-solving-class-tabs ul li .tab-details {
  display: none;
  margin-left:  10px;

}

.problem-solving-class-tabs ul li a {
  position: relative;
  cursor: default;
  display: block;
  padding: 15px;
  border: 1px solid #ddd;
  color: blue;
}

.problem-solving-class-tabs ul li a span {
  float: right;
  color: green;
}


.problem-solving-class-tabs .tab-details p {
  margin-top: 15px;
  text-align: justify;
  font-family: sans-serif;
  color: black;
}



/**
 * Problem Solving class ends here.
 */


/**
 * Test series class starts here.
 */

.test-series img{
  margin:0px auto;
  height: 290px;
}




.test-series-tabs li{
  width: 100%;
  margin-top: 20px;
  color: white;
}

.test-series-tabs ul li .tab-details {
  display: none;
  margin-left:  10px;

}

.test-series-tabs ul li a {
  position: relative;
  cursor: default;
  display: block;
  padding: 15px;
  border: 1px solid #ddd;
  color: blue;
}

.test-series-tabs ul li a span {
  float: right;
  color: green;
}


.test-series-tabs .tab-details p {
  margin-top: 15px;
  text-align: justify;
  font-family: sans-serif;
  color: black;
}


/**
 * Test series class ends here.
 */
